src/*.exe
src/zcoin
src/zcoind
src/test_zcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.zcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
zcoin-qt
Zcoin-Qt.app

# Unit-tests
Makefile.test
zcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
